@font-face {
	font-family: 'Pictos';
	src: url('fonts/pictos-web.eot');
	src: local('☺'), url('/fonts/pictos-web.woff') format('woff'), url('/fonts/pictos-web.ttf') format('truetype'), url('/fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* placeholder styles for examples */
#map {
  /* set later by jquery too... */
  margin-top: 60px; /* Space for the header */
  height: 100%; /* Doesn't seem to do anything */
  background: #E6E6E6;
}

#header {
  position: absolute;
  width: 100%;
  background: #fff;
  height: 59px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
}

#header .icon {
  float: left;
}

#header .tagline {
  float: left;
}

body {
  margin:0;
}

.leaflet-popup-close-button {
  display:none;
}

.leaflet-popup-content-wrapper {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

.leaflet-popup-content {
  margin: 10px;
}

.leaflet-popup-content p {
/*  border-top: 1px solid #ccc;
*/  padding-top: 5px;
  margin-top: 5px;
  color: #000;
  font-size: 14px;
  margin-bottom: 10px;
}

.leaflet-popup h2 {
  font-size: 17px;
  margin-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

/*.leaflet-popup-content p {
  margin: 0;
  font-size: 30px;
}
.yellow {
  color: #fff200;
}*/

.leaflet-popup-content p .grey {
  color: #ccc;
}
