@import url(http://fonts.googleapis.com/css?family=Lato)

// Variable
$green: #4A8D5C
$gray: #BFBBA4
$white: #EFF1E7
$brown: #725E54
$orange: #D9593A

body
	background-color: $green
	// font-family: 'Lato', sans-serif

#landing-bg
	background: url(../images/bg-header.jpg) center center no-repeat
	padding-top: 100px
#tagline	
	h1,p
		color: $white
	h1
		text-align: center

#iphone-app
	text-align: center

@media #{$small-only}
	#iphone-app 
		img
			width: 40%
@media #{$medium-up}
	#landing-bg
		height: 100%
	h1
		font-size: 4rem
	p
		font-size: 1.1rem
	#iphone-app 
		img
			width: 60%

@media #{$large-up}
	#tagline
		margin-top: 50px
	h1
		font-size: 6rem
	p
		font-size: 1.5rem